include LICENSE
include *.md
include *.yaml
include .editorconfig
include .isort.cfg
include *.png

# Tests
include tox.ini
recursive-include tests *.py
recursive-include benchmarks *.pdf
recursive-include benchmarks *.py
recursive-exclude * *.py[co]

graft src/laptools/data
